body{background-color: #193b86;}
.container{ display: grid;
            grid-template: 25em 2.4em 42em 20em 20em 20em 10em/ 78em;
            grid-template-areas: "header"
                                 "nav"
                                 "contenido1"
                                 "contenido2"
                                 "contenido3"
                                 "contenido4"
                                 "footer";   
            overflow: visible;}
.item{
      background-color:rgba(255, 255, 255, 0.966); 
      margin:-1em -0.5em -0.5em -0.5em;
      overflow: visible;}
.header{
      background-color: rgba(255, 255, 255, 0.966);}
.fondo{height:400px;
      width: 650px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;}
.logo_prin{margin-top: 100px;
            margin-left: 180px;
            margin-right: 100px;
            margin-bottom: 160px;
            background-color: aliceblue;}
.titulo1{position: relative;
            left: 341px;
            bottom: 150px;
          color: black;
          text-align: center;
          font-family: 'Cantata One', serif,Helvetica, sans-serif;}
.menu{text-align: center;
      padding-top: 10px;
      padding-bottom:2.4em;
      overflow: hidden;
      background-color: rgb(0, 1, 6);
      border: solid rgb(232, 183, 22) 2px;
      border-radius: 0px 0px 10px 10px;}

.nav-item{padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          position: relative;
          top: 10px;
          background-color: #941111;
          margin-left: 20px;
          margin-right:  20px;
          border-radius: 15px;
          border-width: 5px;
          font-size: 16px;
          color: rgb(255, 255, 255);
          text-decoration: none;
          padding-bottom: 10px;}
.nav{position: sticky;
      top: 0;
      z-index: 2;}

.contenido1{grid-area: contenido1;
            margin-top: 1em;}
.publicidad{display: grid;
            grid-template: 42em/62em 17em;
            grid-template-areas: "oportunidadfoto desfoto";}
.textopublicitario{
      text-align: center;}
.oportunidadfoto{max-height: 33.8em;
            width: 60em;
            border:groove goldenrod 16px;}
.desfoto{
      background-color: #dedb27;
font-size: 2em;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
.contenido2{grid-area: contenido2;}
.contenido3{grid-area: contenido3;}
.contenido4{grid-area: contenido4;}
.footer{grid-area: footer;}

